#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

/* Desde Aca inicia*/
.selectedImg{
 width: 40px;
 border-radius: 3px 3px 3px 3px;
}

.drop-down {
  position: relative;
  display: flex;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.322);
  width:75px;
  padding: 0.6rem 0.5rem;
  cursor: pointer;
  border-radius: 3px;
}

.selected {
  color: black;
  font-weight: bold;
}

.wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.list {
  background-color: #fff;
  position:absolute;
  top: 40px;
  left: 0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.322);
  cursor: pointer;
  width: 100%;
  transform: translateY(2px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  will-change: opacity, transform;
}

.item {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.5rem;
  gap: 0.5rem;
}

.item:hover{
  background-color: gainsboro;
  border-radius: 10px 10px 10px 10px;
}

/* Aca finaliza */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
